@import url("https://necolas.github.io/normalize.css/latest/normalize.css");
/* normalizing css */
@import url('https://fonts.googleapis.com/css2?family=Play&family=Titillium+Web&display=swap');


:root {
    --orange: #FFD24C;
    --bg-btn--blue-light: #92B4EC;
    --gray--light: #F6F8FA;
    --gray--dark: #A9A9A9;
    --blue-darkest: #2D3250;
    --blue-dark: #7077A1;
}

.container {
    background-color: var(--blue-darkest);
}

button {
    border: unset; 
    cursor: pointer;
    width: 80px;
    height: 50px;
    border-radius: 8px;
    font-size: 24px;
}

.flex {
    display: flex;
}

.jc-center {
  justify-content: center;  
}

.jc-space-beetwen {
    justify-content: space-between;
}

.ai-center {
    align-items: center;
}

main {
    width: 100%;
    height: 100vh;
    align-items: center;
    font-family: 'Titillium Web', sans-serif;
}

.calculator {
    background-color: var(--gray--light);
    width: 420px;
    height: 600px;
    border: 1px solid #ccc;
    border-radius: 15px;
    flex-direction: column;
    gap: 40px;
    transition: all 500ms;
}


#themeBtn {
    width: 80px;
    height: 40px;
    align-self: flex-end;
    position: relative;
    right: 22px;
    border-radius: 40px;
    border: 1px solid #ccc;
}

#themeBtn > span {
    color: var(--blue-darkest);
    background-color: var(--bg-btn--blue-light);
    cursor: pointer;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    transition: all 500ms;
}


.darkMode {
    transform: translate(41px);
}

.display {
    border: 1px solid #ccc;
    width: 85%;
    height: 80px;
    padding-right: 19px;
    border-radius: 8px;
    font-family: 'Play', sans-serif;
    flex-direction: row-reverse;
    font-size: 48px;
    transition: all 500ms;
    color: var(--gray--dark);
    background-color: #fff;
}

#buttons {
    width: 90%;
    flex-wrap: wrap;
}

#numbersBtnCont {
    width: 75%;
    flex-wrap: wrap;
    gap: 15px;
}

#decimalBtn, #zeroBtn {
    flex-grow: 1;
    align-items: center;
}

#operationBtnCont {
    width: 25%;
    gap: 15px;
    flex-direction: column;
    align-items: flex-end;
    flex-wrap: wrap;
}


#functionBtnCont {
    width: 90%;
    gap: 15px;
}

.numberBtn {
    color: var(--blue-darkest);
    border: 1px solid var(--gray--dark);
}

.operationBtn {
    background-color: var(--bg-btn--blue-light);
}

.functionBtn {
    flex-grow: 1;
    background-color: var(--orange);
}

.theme-light {
    background-color: var(--gray--light);
    box-shadow: none;
}

.theme--dark {
    background-color: var(--blue-darkest);
    box-shadow: 0 0 10px var(--gray--dark);
}

.display--dark {
    background-color: var(--blue-dark);
    border-color: var(--blue-darkest);
}

.btn--theme-dark {
    background-color: var(--gray--dark);
}

.container--dark {
    background-color: var(--gray--light);
}

button:hover {
    scale: 1.1;
}

.active {
    scale: 1.1;
}



